body {
  font-family: Microsoft YaHei, Helvetica, PingFang SC, Hiragino Sans GB, SimSun,
    sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
