.u-fwb {
  font-weight: bold;
}

.u-tac {
  text-align: center;
}

.u-tal {
  text-align: left;
}

.u-tar {
  text-align: right;
}

.u-cf {
  @include clearfix;
}

.u-lt {
  text-decoration: line-through;
}

.u-pr {
  position: relative;
}

.u-w1 {
  width: 100%;
}

.u-lh1 {
  line-height: 100%;
}

.u-circle {
  border-radius: 50%;
}

.u-oh {
  overflow: hidden;
}

.u-cp {
  cursor: pointer;
}

.u-ofc {
  object-fit: cover;
}

@for $i from 1 through 20 {
  .u-to#{$i} {
    @include text--overflow(#{$i});
  }
}
