// font-family
$font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

// 字号
$font-sizes: 20px, 22px, 24px, 26px, 28px, 30px, 32px, 34px, 36px, 38px, 40px, 42px,
44px, 46px, 48px, 50px, 52px, 54px, 56px, 58px, 60px, 62px, 64px, 66px, 68px,
70px, 72px, 74px, 76px, 78px, 80px, 82px, 84px, 86px, 88px, 90px, 92px, 94px,
96px, 98px, 100px;

// margin
$margins: 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;

// padding
$paddings: 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;