// font-family
$font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

// 字号
$font-sizes: 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;

// margin
$margins: 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;

// padding
$paddings: 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;