@use "sass:math";

@each $item in $u-margins {
  .u-m#{math.div($item, 1px)} {
    margin: $item;
  }

  .u-mt#{math.div($item, 1px)} {
    margin-top: $item;
  }

  .u-mb#{math.div($item, 1px)} {
    margin-bottom: $item;
  }

  .u-ml#{math.div($item, 1px)} {
    margin-left: px2rpx($item);
  }

  .u-mr#{math.div($item, 1px)} {
    margin-right: px2rpx($item);
  }
}
