@each $item in $u-border-radii {
  .u-br#{$item / 1px} {
    border-radius: px2rpx($item);
  }

  .u-btlr#{$item / 1px} {
    border-top-left-radius: px2rpx($item);
  }

  .u-btrr#{$item / 1px} {
    border-top-right-radius: px2rpx($item);
  }

  .u-bblr#{$item / 1px} {
    border-bottom-left-radius: px2rpx($item);
  }

  .u-bbrr#{$item / 1px} {
    border-bottom-right-radius: px2rpx($item);
  }
}
