@each $item in $u-border-radii {
  .u-br#{calc($item / 1px)} {
    border-radius: px2rpx($item);
  }

  .u-btlr#{calc($item / 1px)} {
    border-top-left-radius: px2rpx($item);
  }

  .u-btrr#{calc($item / 1px)} {
    border-top-right-radius: px2rpx($item);
  }

  .u-bblr#{calc($item / 1px)} {
    border-bottom-left-radius: px2rpx($item);
  }

  .u-bbrr#{calc($item / 1px)} {
    border-bottom-right-radius: px2rpx($item);
  }
}
