@each $item in $u-margins {
  .u-m#{calc($item / 1px)} {
    margin: px2rpx($item);
  }

  .u-mt#{calc($item / 1px)} {
    margin-top: px2rpx($item);
  }

  .u-mb#{calc($item / 1px)} {
    margin-bottom: px2rpx($item);
  }

  .u-ml#{calc($item / 1px)} {
    margin-left: px2rpx($item);
  }

  .u-mr#{calc($item / 1px)} {
    margin-right: px2rpx($item);
  }
}
