@each $item in $margins {
  .u-mt#{$item / 1px} {
    margin-top: px2rpx($item);
  }

  .u-mb#{$item / 1px} {
    margin-bottom: px2rpx($item);
  }

  .u-ml#{$item / 1px} {
    margin-left: px2rpx($item);
  }

  .u-mr#{$item / 1px} {
    margin-right: px2rpx($item);
  }
}
