@each $item in $u-paddings {
  .u-p#{calc($item / 1px)} {
    padding: px2rpx($item);
  }

  .u-pt#{calc($item / 1px)} {
    padding-top: px2rpx($item);
  }

  .u-pb#{calc($item / 1px)} {
    padding-bottom: px2rpx($item);
  }

  .u-pl#{calc($item / 1px)} {
    padding-left: px2rpx($item);
  }

  .u-pr#{calc($item / 1px)} {
    padding-right: px2rpx($item);
  }
}
