@use "sass:math";

@each $item in $paddings {
  .u-pt#{math.div($item, 1px)} {
    padding-top: px2rpx($item);
  }

  .u-pb#{math.div($item, 1px)} {
    padding-bottom: px2rpx($item);
  }

  .u-pl#{math.div($item, 1px)} {
    padding-left: px2rpx($item);
  }

  .u-pr#{math.div($item, 1px)} {
    padding-right: px2rpx($item);
  }
}
