// 字体
$font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

// 字号
$font-sizes: 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;

// margin
$margins: 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;

// padding
$paddings: 10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px;